body
{
    margin: 0;
    background: rgb(248, 248, 248);
}

/**
* left tabs
**/

.leftTab
{
    position: absolute;
    right: 100%;
    width: 150px;
    height: 900px;
    font-family: 'Quicksand', sans-serif;
}

.leftTab .generalPara
{
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 0;
    transform: translate(90%, 0%);
    width: 80px;
    height: 150px;
    background: #D1F1CE;
    border-radius: 15px 0 0 15px;
}

.overParaSelect
{
    width: 130px;
    height: 150px;
    position: absolute;
    top: 90px;
    right: 100%;
    cursor: pointer;
}

.leftTab .generalPara span
{
    position: absolute;
    font-size: 1.2rem;
    top: 30%;
    left: 33px;
    text-align: center;
    transform: translate(-60%, 8%) rotate(270deg);
}

.leftTab .help span
{
    position: absolute;
    font-size: 1.2rem;
    top: 30%;
    left: 29px;
    text-align: center;
    transform: translate(-80%, 70%) rotate(270deg);
}

.leftTab .help
{
    z-index: -1;
    position: absolute;
    top: 250px;
    left: 0;
    transform: translate(130%, 0%);
    width: 80px;
    height: 150px;
    background: #97D289;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

.overHelpSelect
{
    width: 130px;
    height: 150px;
    position: absolute;
    top: 250px;
    right: 100%;
    cursor: pointer;
}

/**
* Main container + content
**/

.container
{
    position: relative;
    margin: 3% auto 0 auto;
    background: #D1F1CE;
    width: 840px;
    height: 830px;
    border-radius: 25px;
    transition: 0.2s ease-out;
}

.container .content
{
    margin: 0 auto;
    padding-top: 2%;
    width: 90%;
    height: 80%;
}

.container .content h1
{
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    margin: 0;
}

.container .content h1 + p::after
{
    content: "";
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 2px;
    background: black;
}

.container .content h1 + p::before
{
    content: "";
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 2px;
    background: black;
}

/**
* Subcontents
**/

.subContents
{
    display: block;
    width: 87%;
    margin: 0 auto;
}

.switchButton p
{
    margin: 15px auto;
    color: white;
}

.subContent0, .subContent1, .subContent2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 52px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

.switchButton
{
    font-size: 1.2rem;
    width: 170px;
    height: 55px;
    outline: none;
    transform: translate(25%, 0%);
    background: #00000000;
    border: black solid 2px;
    border-radius: 50px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transform-origin: 50%;
    overflow: hidden;
}

.switchButton .after
{
    z-index: -1;
    position: absolute;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    top: 0;
    right: 72%;
    transform: translate(11%, -2%);
    background: black;
}

.switchButton:hover .animAfter
{
    transform: translate(226%, -2%);
}

.switchButton .before
{
    z-index: -1;
    position: absolute;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    top: 0;
    right: 72%;
    transform: translate(226%, -2%);
    background: black;
}

.switchButton:hover .animBefore
{
    transform: translate(11%, -2%);
}

.moving
{
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: ease-in;
    will-change: transform;
}

/**
* Help infos
**/

.support
{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10% auto;
    font-family: 'Quicksand', sans-serif;
}

.support ul
{
    font-size: 1rem;
    margin: 0;
}

.support ul li
{
    margin-top: 1%;
}

.support ul li b
{
    cursor: pointer;
}

h3
{
    font-size: 2rem;
    margin: 0;
}

.contact
{
    display: none;
    margin: 4% auto;
    font-family: 'Quicksand', sans-serif;
}

.contact::after
{
    content: "";
    position: absolute;
    top: 311px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 2px;
    background: black;
}

.contact .links > *
{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.contact .links
{
    display: flex;
    justify-content: space-around;
}

.contact .links img
{
    width: 90px;
    cursor: pointer;
    opacity: 0.8;
}

.contact .links img:hover
{
    opacity: 1;
}


/**
* Right side script w/ logo
**/

.sideRight
{
    position: absolute;
    display: flex;
    top: 0;
    left: 100%;
    width: 900px;
    align-items: flex-start;
    justify-content: flex-start;
    transform-origin: 6%;
    transform: rotate(90deg);
}

.sideRight h2
{
    margin-left: 2%;
    font-size: 2.3rem;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.sideRight img
{
    width: 97px;
    transform: rotate(-90deg);
}

/**
* Bottom page
*/

.contact + span
{
    position: absolute;
    top: 88%;
    left: 22%;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

/**
* Animations
**/

.opacity
{
    animation: opacity 0.2s ease-in forwards;
}

@keyframes opacity
{
    0%      {opacity: 0.4;}
    100%    {opacity: 1;}
}

.animation_tabs_close
{
    animation-name: tabs_close;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

@keyframes tabs_close
{
    0%      {transform: translate(90%, 0%);}
    100%    {transform: translate(130%, 0%);}
}

.animation_open
{
    animation-name: tabs_open;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

@keyframes tabs_open
{
    0%      {transform: translate(130%, 0%);}
    100%    {transform: translate(90%, 0%);}
}