/*
** FINISHED FEATURES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
** AUTO SCROLLING
*/

.GKscrollZone
{
  position: fixed;
  width: 100vw;
  height: 10vh;
  opacity: 0.6;
  transition: all 0.2s ease;
  z-index: 999999999999999;
}

.GKscrollZone:hover
{
  opacity: 1;
}
.GKscrollZoneTop
{
  width: 26vw;
  top:4.5%;
  left:33.5%;
  background: linear-gradient(to top, #ffffff00 0, #ffffffff 50%, #009245 100%)
}

.GKscrollZoneBottom
{
  bottom:0;
  left:0;
  background: linear-gradient(to bottom, #ffffff00 0, #ffffffff 50%, #009245 100%)
}

/*
** clickable things
*/

.GKclickable
{
  transition: 0.5s transform ease;
  transform-origin: center;
}

.GKclickable:hover
{
  transform: scale(1.4,1.4);
}

/*
** LUCAS' SANDBOX ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
** ROMAIN'S SANDBOX ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
