/*
** FINISHED FEATURES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
** AUTO SCROLLING
*/

.GKscrollZone
{
  position: fixed;
  width: 100vw;
  height: 10vh;
  opacity: 0.6;
  transition: all 0.2s ease;
  z-index: 999999999999999;
}

.GKscrollZone:hover
{
  opacity: 1;
}
.GKscrollZoneTop
{
  top:0;
  left:0;
  background: linear-gradient(to top, #ffffff00 0, #ffffffff 50%, #009245 100%)
}

.GKscrollZoneBottom
{
  bottom:0;
  left:0;
  background: linear-gradient(to bottom, #ffffff00 0, #ffffffff 50%, #009245 100%)
}

/*
** CLICKABLE THINGS
*/

.GKclickable
{
  transition: 0.5s transform ease;
}

.GKclickable:hover
{
  transform: scale(1.4,1.4);
}

/*
** LUCAS' SANDBOX ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
** VIRTUAL KEYBOARD
*/

.GKkeyboardContainer
{
  all: initial;
  width: 100vw;
  height: 48vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999999999;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
}

.GKkeyboardContainer div
{
  width: calc(100vw/12);
  height: 8vh;
  background: #F3F3F3;
  color: #000000;
  box-sizing: border-box;
  border: solid 1px #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'quicksand', 'open sans';
  font-size: 25px;
  cursor: cell;
  will-change: border, background, color;
}

.GKkeyboardContainer div.runAnimation
{
  animation-name: keysBehaviour;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}

.GKkeyboardContainer #leave
{
  width: 100vw;
  background: #dddddd;
}
.GKkeyboardContainer #space
{
  width: calc(100vw*4/12);
}

.GKkeyboardContainer #backspace, .GKkeyboardContainer #enter
{
  width: calc(100vw*2/12);
}

.GKkeyboardContainer .modifier#active
{
  color: #5eb772;
  border: solid 5px #5eb772;
}

.GKkeyboardContainer #up,
.GKkeyboardContainer #down,
.GKkeyboardContainer #left,
.GKkeyboardContainer #right,
.GKkeyboardContainer #enter
{
  background: #bbbbbb;
  animation-name: none;
}


@keyframes keysBehaviour
{
  0%   {background: #F3F3F3; color: #000000; border: solid 1px #aaaaaa}
  85%  {background: #5eb772; color: #F3F3F3; border: solid 10px #F3F3F3}
  90%  {background: #5eb772; color: #F3F3F3; border: solid 30px #F3F3F3}
  95%  {background: #5eb772; color: #F3F3F3; border: solid 10px #F3F3F3}
  100% {background: #F3F3F3; color: #000000; border: solid 1px #aaaaaa}
}

/*
** LIGHTING
*/

/* .GKbody
{
  display: flex;
  justify-content: center;
}

.GKcontainer
{
  width: 100vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transform-origin: center;
  animation-name: containerBehaviour;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  will-change: width;
}

.GKlighting
{
  position: fixed;
  width: 15vw;
  height: 100vh;
  z-index: 1000;
  background: radial-gradient(circle at center, #ffffff 0, #ffffff 80%, #cccccc 100%);
  border: 2px solid #000000;
  transform: scale(0,0.001);
  animation-name: lightingBehaviour;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  will-change: transform;
}

.GKlighting::after
{
  position: fixed;
  width: 15vw;
  height: 100vh;
  background: radial-gradient(circle at center, #cccccc 0, #cccccc 70%, #ffffff 100%);
}

.GKlighting.left, .GKlightingLeft::after
{
  top: 0;
  left: 0;
}

.GKlighting.right, .GKlightingRight::after
{
  top: 0;
  right: 0;
}

@keyframes containerBehaviour {
  0% {width: 100vw;}
  100% {width: 70vw;}
}

@keyframes lightingBehaviour {
  0% {transform: scale(0,0.001);}
  50% {transform: scale(1,0.001);}
  100% {transform: scale(1,1);}
} */

/*
** ROMAIN'S SANDBOX ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
