/*
** FINISHED FEATURES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
** AUTO SCROLLING
*/

.GKscrollZone
{
  position: fixed;
  width: 100vw;
  height: 10vh;
  opacity: 0.6;
  transition: all 0.2s ease;
  z-index: 999999999999999;
}

.GKscrollZone:hover
{
  opacity: 1;
}
.GKscrollZoneTop
{
  top:52px;
  left:0;
  background: linear-gradient(to top, #ffffff00 0, #ffffffff 50%, #009245 100%)
}

.GKscrollZoneBottom
{
  bottom:0;
  left:0;
  background: linear-gradient(to bottom, #ffffff00 0, #ffffffff 50%, #009245 100%)
}

/*
** clickable things
*/

.GKclickable
{
  transition: 0.5s transform ease;
}

.GKclickable:hover
{
  transform: scale(1.4,1.4);
}

/*
** LUCAS' SANDBOX ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*
** VIRTUAL KEYBOARD
*/

.GKkeyboardContainer
{
  width: 100vw;
  height: 40vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999999999;
  display: flex;
  flex-wrap: wrap;
}

.GKkeyboardContainer div
{
  width: calc(100vw/12);
  height: 8vh;
  background: #F3F3F3;
  color: #000000;
  box-sizing: border-box;
  border: solid 1px #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'quicksand', 'open sans';
  font-size: 25px;
  cursor: cell;
  will-change: border, background, color;
}

.GKkeyboardContainer div.runAnimation
{
  animation-name: keysBehaviour;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}

.GKkeyboardContainer #space
{
  width: calc(100vw*4/12);
}

.GKkeyboardContainer #backspace, .GKkeyboardContainer #enter
{
  width: calc(100vw*2/12);
}

.GKkeyboardContainer .modifier#active
{
  color: #5eb772;
  border: solid 5px #5eb772;
}

.GKkeyboardContainer #up,
.GKkeyboardContainer #down,
.GKkeyboardContainer #left,
.GKkeyboardContainer #right,
.GKkeyboardContainer #enter
{
  background: #bbbbbb;
  animation-name: none;
}


@keyframes keysBehaviour
{
  0%   {background: #F3F3F3; color: #000000; border: solid 1px #aaaaaa}
  85%  {background: #5eb772; color: #F3F3F3; border: solid 10px #F3F3F3}
  90%  {background: #5eb772; color: #F3F3F3; border: solid 30px #F3F3F3}
  95%  {background: #5eb772; color: #F3F3F3; border: solid 10px #F3F3F3}
  100% {background: #F3F3F3; color: #000000; border: solid 1px #aaaaaa}
}

/*
** ROMAIN'S SANDBOX ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
