body
{
    margin: 0 auto;
    width: 400px;
    height: 255px;
}

.topInfo
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

h1
{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7rem;
}

img
{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    user-select: none;
}

.rotated
{
    transform: scaleX(-1);
}

.topInfo + button
{
    font-size: 1.2rem;
    width: 250px;
    height: 50px;
    position: absolute;
    outline: none;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00000000;
    border: #77DB8E solid 2px;
    border-radius: 50px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transform-origin: 50%;
    overflow: hidden;
}

.topInfo + button::after
{
    content: "";
    z-index: -1;
    position: absolute;
    width: 307px;
    height: 206px;
    top: 49%;
    left: 50%;
    transform: translate(-128%, -42%) rotate(60deg);
    background: #77DB8E;
    transition-property: transform;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
    will-change: transform;
}

.topInfo + button:hover::after
{
    transform: translate(-50%, -50%) rotate(50deg);
}

.bottom
{
    position: absolute;
    cursor: pointer;
    width: 100%;
    bottom: 0;
    height: 60px;
    z-index: 1;
}

.bottom:hover + .background
{
    transform: translate(0%,-10%);
}

.arrow
{
    position: absolute;
    transform: rotate(270deg) translate(-50%, -50%);
    top: 72%;
    left: 50%;
    width: 35px;
    cursor: pointer;
}

.background
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 75%;
    transform: translate(0%,59%);
    width: 100%;
    height: 90px;
    background: #525151;
    box-shadow: 0px 0px 60px #00000070;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in;
    will-change: transform;
}

.background p
{
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 0px;
    width: 96%;
    height: 73%;
}